{% extends '::base.html.twig' %}

{% block body_content %}
    <div class="row">
        <div class="col-xs">
            <div class="card" style="width: 20rem;">
                <img class="card-img-top" src="https://image.jimcdn.com/app/cms/image/transf/none/path/s469d19106789d36f/image/ifbf7120fa6cdc04f/version/1473261357/image.jpg" alt="...">
                <div class="card-block">
                    <h4 class="card-title">title 1</h4>
                    <p class="card-text">l;kl;kad;fldksf;lsdfkjdsklfjdslkjfksdjf dsfj sdkjf kdslfj kdsljfd</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>

            <div class="card" style="width: 20rem;">
                <img class="card-img-top" src="https://image.jimcdn.com/app/cms/image/transf/none/path/s469d19106789d36f/image/ifbf7120fa6cdc04f/version/1473261357/image.jpg" alt="...">
                <div class="card-block">
                    <h4 class="card-title">title 1</h4>
                    <p class="card-text">l;kl;kad;fldksf;lsdfkjdsklfjdslkjfksdjf dsfj sdkjf kdslfj kdsljfd</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>

            <div class="card" style="width: 20rem;">
                <img class="card-img-top" src="https://image.jimcdn.com/app/cms/image/transf/none/path/s469d19106789d36f/image/ifbf7120fa6cdc04f/version/1473261357/image.jpg" alt="...">
                <div class="card-block">
                    <h4 class="card-title">title 1</h4>
                    <p class="card-text">l;kl;kad;fldksf;lsdfkjdsklfjdslkjfksdjf dsfj sdkjf kdslfj kdsljfd</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>

{% endblock %}
