    {% extends "testBundle:Advert:base.html.twig" %}


    {% block body_ %}
        <h1>Annonces</h1>
        <hr>

        {% block Platform_body %}
        {% endblock %}
    {% endblock %}